.card,
.card_quote,
.card_btn,
.card_quote_label,
.card_outline {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    width: 100%;
    font-size: 1.3em;
    max-width: 65em;
}



.card_link {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    max-width: 28em;
    font-size: 1.3;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.card_outline {
    padding: 1.5em;
    border: 1px solid var(--gray);
    width: calc(100% - 3em);
}

#cardLabel {
    font-size: 1.5em;
    font-weight: 700;
}

.card_quote,
.card_quote_label {
    max-width: 28em;
    padding: 1em 0;
    border-bottom: 2px solid var(--light-gray);
}


.card_quote_label {
    max-width: 36em;
}

.card_filled_rect,
.card_filled_rectR,
.card_filled_circle {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 15em;
    padding: 3em;
    display: flex;
    gap: 3em;
    background-color: color-mix(in srgb, var(--gray), transparent 60%);
    font-weight: 600;
}

.card_filled_rect .iconContainer {
    display: flex;
    flex-direction: row;
}

.card_filled_rectR .iconContainer {
    display: flex;
    flex-direction: row-reverse;
}

#filledCardIMG {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 1.8em;
    width: 1.8em;
    font-size: 2em;
    background-color: var(--white);
    color: var(--black);
}

.card_filled_circle #filledCardIMG,
.card_filled_circle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card_image {
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-size: 1.5em;
}

.card_image #cardLabel {
    font-size: 1em;
    font-weight: 700;
}

.card_question {
    height: 3.5em;
    font-size: 1.4em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--white);
}

.quest_left {
    width: fit-content;
    flex-direction: row;
    display: flex;
    gap: 2.5em;
}

.quest_ans {
    display: block;
    width: calc(100% - 3em);
    padding: 1em 1.5em;
    background-color: var(--white);
    color: var(--black);
    transition: all 200ms ease-in-out !important;
    -webkit-transition: all 200ms ease-in-out !important;
    -moz-transition: all 200ms ease-in-out !important;
    -ms-transition: all 200ms ease-in-out !important;
    -o-transition: all 200ms ease-in-out !important;
}

.cardQuestContainer[is-opened="0"] .quest_ans {
    font-size: 0em;
}

.cardQuestContainer[is-opened="1"] .quest_ans {
    font-size: 1.5em;
}

#questionPlus {
    border-radius: 1em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: 2em;
    border: none;
    background: transparent;
    color: inherit;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

#questionPlus:focus-visible {
    background-color: var(--white);
    color: var(--black)
}

.cardQuestContainer[is-opened="1"] #questionPlus {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.card_big_icon {
    max-width: 55em;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--gray);
    background-color: color-mix(in srgb, var(--gray), transparent 80%);
    padding: 1.5em 5em 1.5em 0em;
    gap: 1em;
    align-items: center;
}

.card_big_icon .card_description {
    font-size: 1.4em;
    font-weight: 600;
}

#bigIcon {
    font-size: 20em;
}

.card_graph {
    margin-top: 1em;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.graph_container {
    width: 100%;
    height: 25em;
    background-size: 100%;
    background-image: var(--graph);
    border: 1px solid var(--gray);
    background-color: color-mix(in srgb, var(--black), transparent 50%);
    backdrop-filter: blur(20px);
    background-position: center;
    background-repeat: no-repeat;
}

.graph_months {
    padding: 0 1em;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}