:root {
	--white: #FEFEFE;
	--light-gray: #D9D9D9;
	--gray: #202020;
	--black: #010101;
}

html {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: var(--black);
}

body {
	height: calc(100% - 8.3em);
	background-color: var(--black);
	color: var(--white);
	margin: 0;
	scroll-behavior: smooth;
	font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.921em;
	padding: 0;
	margin: 0;
}

@-moz-document url-prefix() {
	body {
		font-size: 0.839em;
	}
}

div.main {
	min-height: 100%;
	margin: 4em 5em 0 5em;
}

div.divider {
	display: inline-block;
	background-color: var(--light-gray);
	width: 100%;
	height: 2px;
}

div.divider.transparent {
	background: transparent;
	width: 100%;
	height: 1px;
}

div.divider#smallest {
	margin: .5em 0;
}

div.divider#small {
	margin: 1em 0;
}

div.divider#medium {
	margin: 2em 0;
}

div.divider#big {
	margin: 3em 0;
}

div.divider#large {
	margin: 5em 0;
}

div.divider#largest {
	margin: 6.5em 0;
}

button,
input,
a {

	transition-property: box-shadow,
		color, height,
		width, background-color,
		opacity, font-weight font-size, border-radius;
	transition: 300ms ease-in-out !important;
	-webkit-transition: 300ms ease-in-out !important;
	-moz-transition: 300ms ease-in-out !important;
	-ms-transition: 300ms ease-in-out !important;
	-o-transition: 300ms ease-in-out !important;
}

input:focus-visible,
a:focus-visible,
button:focus-visible {
	outline: none;
	border: none;
	box-shadow: none;
}

input:focus-visible {
	background-color: color-mix(in srgb, var(--gray), transparent 40%) !important;
	/* TODO рюшечки и ряшечки */
}

a {
	text-decoration: none;
}

a.text-link {
	color: lightsteelblue;
	padding: 0 .25em;
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	-ms-border-radius: .2em;
	-o-border-radius: .2em;
}

a.text-link:hover,
a.text-link:focus-visible {
	border: none;
	outline: none;
	box-shadow: 0px 0px 0px 3px color-mix(in srgb, LightSteelBlue, transparent 86%);
	background-color: color-mix(in srgb, LightSteelBlue, transparent 86%);
}

/* fallback */
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 200;
	src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v175/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: 200;
	font-style: normal;
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-moz-font-feature-settings: "liga";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "liga";
}

h1 {
	font-size: 2.5em;
	margin: .5em 0 0 0;
}

h2 {
	font-size: 2em;
	margin: .5em 0 0 0;
}

h3 {
	font-size: 1.5em;
	margin: 0;
}

h4 {
	font-size: 1em;
	margin: 0;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' -25;
}

:root {
	--logo: url("data:image/svg+xml,%3Csvg width='1018' height='1068' viewBox='0 0 1018 1068' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1018 0V858.083H229.98L427.492 643.01H821.502V213.968L1018 0Z' fill='%23FEFEFE'/%3E%3Cpath d='M0.112708 1068L0 209.917H788.02L590.62 424.867H196.61V853.909L0.112708 1068Z' fill='%23FEFEFE'/%3E%3C/svg%3E");
	--textLogo: url("data:image/svg+xml,%3Csvg width='205' height='16' viewBox='0 0 205 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.98 0.12H24.26V15H19.74V3.96L14.6 13.52L13.82 15H12.2H10.6L9.8 13.52L4.68 3.96V15H0.16V0.12H7.42L12.2 9.04L16.98 0.12ZM31.3253 15H26.8053V0.12H31.3253V15ZM50.3008 12.86V0.12H54.8408V15H50.3008H46.9408L38.3808 2.26V15H33.8608V0.12H41.7408L50.3008 12.86ZM61.9011 15V15.02H57.3811V0.12H61.9011H69.2411C69.5011 0.12 69.7611 0.139999 70.0211 0.139999C70.0811 0.139999 70.1411 0.159999 70.2011 0.159999C70.4411 0.159999 70.7011 0.179999 70.9211 0.22C70.9611 0.22 71.0011 0.22 71.0211 0.22C71.7611 0.319999 72.4411 0.459999 73.0411 0.68C73.0811 0.68 73.1211 0.699999 73.1611 0.719999C73.3411 0.779999 73.5011 0.84 73.6811 0.919999C73.7211 0.94 73.7611 0.96 73.8011 0.979999C74.5211 1.32 75.1011 1.78 75.5611 2.34C75.5811 2.36 75.6211 2.4 75.6411 2.44C75.7411 2.56 75.8211 2.7 75.9211 2.84C75.9411 2.86 75.9411 2.88 75.9611 2.92C76.2211 3.38 76.4211 3.88 76.5411 4.44C76.5411 4.48 76.5611 4.52 76.5611 4.56C76.6011 4.74 76.6211 4.92 76.6411 5.1C76.6411 5.16 76.6611 5.2 76.6611 5.26C76.6811 5.44 76.6811 5.64 76.6811 5.84L76.6611 9.7C76.6611 9.72 76.6611 9.72 76.6611 9.74C76.6611 9.96 76.6211 10.18 76.6011 10.4C76.5811 10.42 76.5811 10.44 76.5811 10.46C76.5411 10.68 76.5011 10.86 76.4411 11.06C76.4411 11.1 76.4211 11.12 76.4211 11.16C76.3611 11.34 76.3011 11.5 76.2411 11.68C76.2211 11.72 76.2011 11.76 76.1811 11.8C76.1011 11.96 76.0211 12.1 75.9411 12.24C75.9211 12.3 75.8811 12.34 75.8411 12.4C75.7611 12.52 75.6811 12.64 75.6011 12.76C75.5411 12.82 75.4811 12.88 75.4211 12.96C75.3411 13.04 75.2611 13.14 75.1611 13.22C75.0811 13.3 74.9611 13.4 74.8611 13.48C74.8011 13.52 74.7411 13.58 74.6811 13.62C73.3811 14.58 71.4611 15.04 68.9611 15H61.9011ZM68.2011 3.62H61.9011V11.5H68.0611C69.3811 11.52 70.4011 11.28 71.0811 10.78C71.1211 10.74 71.1611 10.72 71.1811 10.7C71.2411 10.66 71.3011 10.6 71.3411 10.56C71.4011 10.52 71.4411 10.46 71.4811 10.42C71.5011 10.38 71.5411 10.34 71.5811 10.32C71.6211 10.26 71.6611 10.18 71.7011 10.12C71.7211 10.1 71.7411 10.06 71.7611 10.04C71.8011 9.96 71.8411 9.88 71.8811 9.8C71.9011 9.78 71.9011 9.76 71.9211 9.74C71.9411 9.66 71.9811 9.56 72.0211 9.46C72.0211 9.44 72.0211 9.44 72.0211 9.42C72.0611 9.32 72.0811 9.2 72.1011 9.1C72.1011 9.08 72.1011 9.08 72.1011 9.06C72.1211 8.94 72.1411 8.84 72.1411 8.7L72.1611 6.66C72.1611 6.54 72.1411 6.44 72.1411 6.34C72.1411 6.3 72.1411 6.28 72.1211 6.26C72.1211 6.16 72.1011 6.06 72.0811 5.96C72.0811 5.94 72.0811 5.92 72.0811 5.9C72.0211 5.6 71.9011 5.34 71.7611 5.1C71.7611 5.08 71.7611 5.06 71.7411 5.06C71.7011 4.98 71.6411 4.9 71.6011 4.84C71.5811 4.82 71.5611 4.8 71.5611 4.78C71.3211 4.5 71.0011 4.26 70.6211 4.08C70.6011 4.06 70.5811 4.06 70.5611 4.04C70.4611 4 70.3811 3.96 70.2811 3.92C70.2611 3.92 70.2411 3.92 70.2211 3.9C69.9011 3.8 69.5411 3.72 69.1411 3.68C69.1411 3.68 69.1211 3.66 69.1011 3.66C68.9811 3.66 68.8411 3.64 68.7211 3.64C68.6811 3.64 68.6411 3.64 68.6211 3.62C68.4811 3.62 68.3411 3.62 68.2011 3.62ZM95.5925 0.12H102.873V15H98.3525V3.96L93.2125 13.52L92.4325 15H90.8125H89.2125L88.4125 13.52L83.2925 3.96V15H78.7725V0.12H86.0325L90.8125 9.04L95.5925 0.12ZM110.238 12.3L108.778 15H103.998L111.958 0.12H118.318L126.298 15H121.498L120.038 12.3H110.238ZM115.138 3.14L111.878 9.22H118.398L115.138 3.14ZM143.515 10.22C143.495 10.22 143.475 10.24 143.435 10.24L146.635 15L141.855 15.02L138.915 10.64H131.935V15.02H127.415V0.12H130.155H140.215H140.555C142.315 0.0999987 143.675 0.419999 144.595 1.1C144.635 1.12 144.675 1.16 144.715 1.2C144.795 1.26 144.875 1.32 144.935 1.38C144.995 1.44 145.055 1.5 145.115 1.56C145.155 1.62 145.195 1.66 145.235 1.72C145.295 1.8 145.355 1.88 145.415 1.96C145.435 2 145.455 2.04 145.495 2.08C145.535 2.18 145.595 2.28 145.655 2.38C145.655 2.42 145.675 2.44 145.695 2.48C145.735 2.6 145.775 2.72 145.815 2.84C145.835 2.86 145.835 2.88 145.835 2.9C145.875 3.04 145.915 3.18 145.935 3.32C145.935 3.34 145.935 3.36 145.935 3.38C145.975 3.52 145.975 3.68 145.995 3.84C145.995 3.86 145.995 3.86 145.995 3.86L146.015 6.58C146.015 6.74 145.995 6.88 145.995 7C145.975 7.04 145.975 7.08 145.975 7.12C145.955 7.24 145.935 7.38 145.915 7.5C145.915 7.52 145.915 7.56 145.895 7.58C145.815 7.98 145.675 8.34 145.495 8.66C145.495 8.68 145.475 8.7 145.455 8.72C145.395 8.82 145.335 8.9 145.275 9C145.255 9.02 145.235 9.04 145.215 9.08C144.895 9.46 144.475 9.78 143.975 10.02C143.935 10.04 143.915 10.06 143.875 10.06C143.755 10.12 143.635 10.18 143.515 10.22ZM139.195 3.18H131.935V7.56H139.195H139.835C139.915 7.56 139.995 7.56 140.075 7.56C140.075 7.56 140.095 7.56 140.115 7.56C140.195 7.54 140.255 7.54 140.335 7.54L140.355 7.52C140.575 7.5 140.775 7.46 140.955 7.4C140.955 7.4 140.975 7.4 140.975 7.38C141.035 7.36 141.095 7.34 141.135 7.32C141.155 7.32 141.155 7.32 141.175 7.3C141.395 7.2 141.555 7.08 141.695 6.92C141.695 6.9 141.715 6.9 141.715 6.88C141.735 6.84 141.775 6.8 141.795 6.76L141.815 6.74C141.895 6.6 141.955 6.46 141.975 6.3C141.975 6.28 141.995 6.28 141.995 6.26C141.995 6.2 141.995 6.16 142.015 6.1C142.015 6.08 142.015 6.06 142.015 6.06C142.015 6 142.015 5.94 142.015 5.88V4.74C142.015 4.68 142.015 4.6 141.995 4.54C141.995 4.54 141.995 4.54 141.995 4.52C141.975 4.46 141.975 4.4 141.955 4.34C141.955 4.34 141.955 4.34 141.935 4.32C141.935 4.26 141.915 4.22 141.895 4.16C141.875 4.16 141.875 4.14 141.875 4.14C141.855 4.08 141.835 4.04 141.815 4C141.795 3.98 141.795 3.98 141.775 3.96C141.755 3.92 141.735 3.88 141.695 3.86C141.695 3.84 141.675 3.82 141.655 3.8C141.615 3.76 141.595 3.74 141.575 3.72C141.555 3.68 141.515 3.66 141.495 3.64C141.475 3.62 141.455 3.6 141.435 3.6C141.055 3.32 140.495 3.18 139.755 3.2H139.195V3.18ZM162.096 0.12H168.656L159.896 7.56L168.656 15H162.096L156.616 10.34L155.156 9.1H152.896V15H148.376V0.12H152.896V6.02H155.136L156.616 4.78L162.096 0.12ZM186.945 15H169.865V0.12H186.945V3.2H174.385V6.02H185.985V9.1H179.785H174.385V11.92H186.945V15ZM186.151 3.18V0.12H204.751V3.18H197.711V15H193.171V3.18H186.151Z' fill='%23FEFEFE'/%3E%3C/svg%3E");
	--graph: url("data:image/svg+xml,%3Csvg width='1120' height='102' viewBox='0 0 1120 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 101L12.18 99.01L23.36 92.99L34.54 84.17L45.72 85.41L56.9 88.99L68.08 66.95L79.26 69.97L90.44 72.91L101.62 72.1L112.8 67.68L123.98 59.44L135.16 49.04L146.34 56.15L157.52 56.39L168.7 53.92L179.88 51.46L191.06 50.06L202.24 53.67L213.42 35.87L224.6 30.36L235.78 34.13L246.96 36.88L258.14 47.85L269.32 48.01L280.5 38.37L291.68 43.18L302.86 57.51L314.04 50.9L325.22 34.49L336.4 57.66L347.58 62.81L358.76 60.03L369.94 52.53L381.12 33.04L392.3 40.6L403.48 54.59L414.66 59.76L425.84 71.8L437.02 83.89L448.2 72.15L459.38 81.36L470.56 75.69L481.74 59L492.92 70.77L504.1 66.36L515.28 49.99L526.46 45.71L537.64 51.55L548.82 54.57L560 48.88L571.18 49.7L582.36 49.27L593.54 56.61L604.72 43.01L615.9 33.4L627.08 27.03L638.26 30.37L649.44 22.43L660.62 21.83L671.8 29.48L682.98 22.2L694.16 13.73L705.34 22.62L716.52 39.73L727.7 28.78L738.88 26.76L750.06 23.65L761.24 22.24L772.42 20.66L783.6 26.48L794.78 34.59L805.96 25.56L817.14 23.5L828.32 28.24L839.5 25.1L850.68 29.11L861.86 29.95L873.04 42.74L884.22 22.21L895.4 19.88L906.58 26.99L917.76 36.99L928.94 37.98L940.12 45.75L951.3 42.91L962.48 36.77L973.66 38.07L984.84 37.08L996.02 29.24L1007.2 27.96L1018.38 25.91L1029.56 18.81L1040.74 15.92L1051.92 2.74L1063.1 1L1074.28 7.98L1085.46 17.32L1096.64 23.88L1107.82 23.76L1119 14.27' stroke='%23FEFEFE' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}