.header {
    z-index: 999;
    width: calc(100% - 10em);
    height: 4em;
    display: flex;
    flex-direction: row;
    padding: 0 5em;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    background-color: color-mix(in srgb, var(--black), transparent 25%);
    backdrop-filter: blur(20px);
}

.logo {
    display: block;
    height: 2em;
    width: 12em;
    background-size: 12em;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--textLogo);
}

@media (max-width: 1024px) {
    .logo {
        height: 2em;
        width: 2em;
        background-size: 2em;
        background-image: var(--logo);
    }
}

@media (max-width: 920px) {
    .logo {
        display: none;
    }
}


.tabs {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}